<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="MailSenderSettings" type="System.Configuration.NameValueSectionHandler, System, Version=1.0.5000.0,Culture=neutral, PublicKeyToken=b77a5c561934e089" />
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="SQLAgain.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <appSettings>
    <add key="NLS_LANG" value=".UTF8" />
    <add key="TNS_ADMIN" value="C:\oracle_db\Network\Admin" />
    <add key="DBUSER1" value="SYS" />
    <add key="DBCONN1" value="sys/manager" />
    <add key="DBAFLAG1" value="1" />
    <add key="DBS_EXCLUDE" value="Credential" />
    <add key="DBG1_TEXT" value="Prod DBs" />
    <add key="DBG1_REGEXP" value="^(?!T).*$" />
    <add key="DBG1_COLOR" value="#FF8000" />
    <add key="DBG2_TEXT" value="Test DBs" />
    <add key="DBG2_REGEXP" value="^T.*" />
    <add key="DBG2_COLOR" value="#00FF40" />
    <add key="TASK_EMAIL1" value="my.account@gmail.com" />
    <add key="TASK_EMAIL2" value="my.account@gmail.com" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <MailSenderSettings>
    <add key="SmtpServerAddress" value="smtp-mail.outlook.com" />
    <add key="SmtpUserName" value="my.account@gmail.com" />
    <add key="SmtpUserPassword" value="my.password" />
    <!-- Setting SMTP server port address, default value is 25 -->
    <add key="SmtpServerPortNumber" value="587" />
    <!-- Turn on and off anti-spam message pool, by default pool is on -->
    <add key="AntiSpamMessagesPoolOn" value="false" />
    <!-- Setting anti-spam pool message life time (min), default value is 120 -->
    <add key="AntiSpamPoolMessageLifeTime" value="120" />
    <!-- Enables SSL for connection (default value is: false) -->
    <add key="EnableSsl" value="true" />
  </MailSenderSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <userSettings>
    <SQLAgain.Properties.Settings>
      <setting name="RemoteManifest" serializeAs="String">
        <value>https://raw.githubusercontent.com/MartinBruegger/SQLAgain/refs/heads/master/Update/SQLAgain.manifest</value>
      </setting>
      <setting name="AutoCheckForUpdate" serializeAs="String">
        <value>True</value>
      </setting>
    </SQLAgain.Properties.Settings>
  </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.3.0" newVersion="6.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Primitives" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.32.0" newVersion="3.1.32.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Configuration.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.5.0" newVersion="4.0.5.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.5.0" newVersion="4.0.5.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
